<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.del.dao.NoticeMapper">

<resultMap type="Notice" id="noticeList">
   <id property="noticeid" column="noticeId"/>
   <result property="noticetime" column="noticeTime"/>
   <result property="noticecontent" column="noticeContent"/>
</resultMap>
 
<select id="findAllNoticeList" resultMap="noticeList">
   select * from notice limit 7
</select>

<!-- 根据noticeid查询公告记录 -->
<select id="getNotice" resultType="Notice">
   select * from notice where noticeId=#{noticeid}
</select>

</mapper> 